<%-include("partials/header")%>
<%-include('partials/navbar.ejs')%>

    <div id="poll-page">
        
        <div id="poll-list">
            <h1 class="big-heading">Pollster.org</h1>
            <h5>Below are the polls hosted by Pollster.</h5>
            <h5>Select a poll to see the results or <a href="/newpoll"> make a new poll. </a></h5>
            <div class="list">
                <%polls.reverse().forEach((each_poll)=>{%>
                    <a href= <%="/polls/"+each_poll.pollId%> ><button class="btn btn-block ques-btn"><%=each_poll.ques%></button>
                <%})%>
            </div>
        </div>
    
    </div>

<%- include("partials/footer") -%>